:root {
    --primary-color: #003C46;
    --input-bg: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Europa-Light", sans-serif;
}

.top_nav {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.4rem 2rem;
}

.logo img {
    width: 150px;
}


.login_form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.login_form {
    background-color: var(--primary-color);
    padding: 50px 80px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
}

.login_form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--input-bg);
    color: black;
    font-size: 16px;
}

.login_form label {
    color: white;
    text-align: center;
    font-size: 16px;
}


.login_form button {
    margin-top: 10px;
    padding: 12px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.login_form button:hover {
    background-color: #bcbcbc;
}
