<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/components/navbar/navbar.css">
</head>
<body>
    <nav class="">
        <img src="https://kromannreumert.com/sites/kromannreumert.com/themes/octo/logo.svg" alt="Logo" class="logo">
        <div class="items">
            <h3><a href="/pages/klienter/index.html"> Klienter</a></h3>
            <h3><a href="/pages/sager/sager.html">Sager</a></h3>
            <h3><a href="/pages/todo/allTodos.html">Opgaver</a></h3>
            <h3><a href="">Arkiv</a></h3>
        </div>
        <h3 id="logout">Log ud</h3>
    </nav>

    <script src="navbar.js"></script>

</body>
</html>